_libgcc_mutex
_openmp_mutex
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
awkward
awkward-cpp
babel
beautifulsoup4
blas
bleach
boost-histogram
bottleneck
brotli
brotli-bin
brotli-python
bzip2
ca-certificates
cached-property
cached_property
certifi
cffi
charset-normalizer
comm
contourpy
cramjam
cycler
cython
dbus
debugpy
decorator
defusedxml
dill
entrypoints
exceptiongroup
executing
expat
fontconfig
fonttools
fqdn
freetype
fsspec
glib
glib-tools
gst-plugins-base
gstreamer
h11
h2
hpack
httpcore
httpx
hyperframe
icu
idna
iminuit
importlib-metadata
importlib_metadata
importlib_resources
ipykernel
ipython
isoduration
jedi
jinja2
jpeg
json5
jsonpointer
jsonschema
jsonschema-specifications
jsonschema-with-format-nongpl
jupyter-lsp
jupyter_client
jupyter_core
jupyter_events
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
krb5
lcms2
ld_impl_linux-64
lerc
libbrotlicommon
libbrotlidec
libbrotlienc
libclang13
libcups
libdeflate
libedit
libexpat
libffi
libgcc-ng
libgfortran-ng
libgfortran5
libglib
libgomp
libiconv
libllvm14
libnsl
libopenblas
libpng
libpq
libsodium
libsqlite
libstdcxx-ng
libtiff
libuuid
libwebp-base
libxcb
libxcrypt
libxkbcommon
libxml2
libzlib
lz4-c
markupsafe
matplotlib
matplotlib-base
matplotlib-inline
mistune
mplhep
mplhep_data
mpmath
multiprocess
munkres
mysql
nbclient
nbconvert-core
nbformat
ncurses
nest-asyncio
notebook
notebook-shim
numexpr
numpy
numpy-base
openblas
openjpeg
openssl
overrides
packaging
pandas
pandocfilters
parso
pcre2
pexpect
pickleshare
pillow
pip
pkgutil-resolve-name
platformdirs
ply
prometheus_client
prompt-toolkit
psutil
pthread-stubs
ptyprocess
pure_eval
pybind11-abi
pycparser
pygments
pyparsing
pyqt
pyqt5-sip
pysocks
python
python-dateutil
python-fastjsonschema
python-json-logger
python-tzdata
python-xxhash
python_abi
pytz
pyyaml
pyzmq
qt-main
readline
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scipy
screen
send2trash
setuptools
sip
six
sniffio
soupsieve
sqlite
stack_data
sympy
terminado
tinycss2
tk
tomli
tornado
traitlets
types-python-dateutil
typing-extensions
typing_extensions
typing_utils
tzdata
uhi
uproot
uproot-base
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wheel
xorg-libxau
xorg-libxdmcp
xxhash
xz
yaml
zeromq
zipp
zlib
zstd
absl-py
astunparse
cloudpickle
dm-tree
flatbuffers
gast
google-pasta
grpcio
h5py
keras
libclang
markdown
markdown-it-py
mdurl
ml-dtypes
namex
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
opt-einsum
optree
plothist
protobuf
rich
tensorboard
tensorboard-data-server
tensorflow
tensorflow-probability
termcolor
tf-keras
tfpcbpggsz
werkzeug
wrapt
